<h2>Регистрация</h2>
<form method="post">
    <p>
        <label>Имя пользователя</label><br />
        <input type="text" name="userName" />
    </p>
    <p>
        <label>Пароль</label><br />
        <input type="password" name="password" />
    </p>
    <p>
        <input type="submit" value="Send">
    </p>
</form>
